{{ define "main" }}
  <div class="space-y-32">
    {{ range .Site.RegularPages.GroupByPublishDate "2006" }}
      {{ if ne .Key "0001" }}
        <div class="space-y-2">
          <h2 class="font-bold">{{ .Key }}</h2>
          <div class="space-y-16">
            {{ range .Pages.GroupByDate "January" }}
              <div class="space-y-2">
                <h3 class="font-bold">{{ .Key }}</h3>

                <ul class="space-y-4">
                  {{ range where .Pages "Type" "post" }}
                    {{ if eq .Kind "page" }}
                      <li>
                        {{ if .Title }}
                          <a href="{{ .Permalink }}"
                            >{{ .Title | markdownify }}</a
                          >
                        {{ else }}
                          <a href="{{ .Permalink }}"
                            >{{ .Summary | truncate 100 }}</a
                          >
                        {{ end }}
                      </li>
                    {{ end }}

                  {{ end }}
                </ul>
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
