{{ define "main" }}
  {{ $list := where .Pages.ByDate.Reverse "Type" "post" }}
  {{ range $list.GroupByPublishDate "2006" }}
    <div>
      <h2 class="text-xl font-bold mb-2">{{ .Key }}</h2>
      <ol class="list-none">
        {{ range .Pages }}
          <li class="my-1">
            <a class="text-lg flex flex-row py-1" href="{{ .Permalink }}">
              <time class="block w-24 flex-none" datetime="{{ .PublishDate }}">
                {{ dateFormat "Jan 2" .PublishDate }}
              </time>
              <div>{{ .Title }}</div>
            </a>
          </li>
        {{ end }}
      </ol>
    </div>
  {{ end }}
{{ end }}
