{{ define "main" }}

<article class="mb-24 h-entry">
  <header>
    <!-- Title and Publication Date -->
    <h1 class="text-xl font-bold p-name">{{ .Title }}</h1>
    <time class="dt-published" datetime="{{ .PublishDate }}">
      {{ .PublishDate.Format "Monday, 2:e Jan"}}
    </time>

    <!-- 
            H-card that is used for IndieWeb 

            I couldn't get it to work wiht just linking to the author at the homepage. A lot of services didn't manage to follow the link and get the author from the homepage instead of on this post page.
        -->
    <a style="display: none" href="/" class="u-author h-card">
      <img loading="lazy" class="u-photo" src="{{ "/assets/img/avatar-md.jpg"
      }}" alt="Johan Larsson" />
      <span class="p-name">Johan Larsson</span>
    </a>
  </header>

  <div class="e-content">{{ .Content }}</div>
</article>

{{ end }}
