/* TailwindCSS base styles */
/* see https://tailwindcss.com/docs/functions-and-directives#tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  body {
    font-size: 18px;
    @apply font-serif leading-snug bg-white text-black dark:bg-slate-900 dark:text-white;
  }

  article.entry ul {
    @apply list-circle pl-6 my-2;
  }

  article ol {
    counter-reset: ol-counter;
    @apply list-none pl-8;
  }

  article ol li::before {
    content: counter(ol-counter);
    left: -2rem;
    top: 0.2rem;
    @apply text-sm border border-solid rounded-full border-black w-5 h-5 p-1 flex items-center justify-center absolute;
  }

  article ol li {
    counter-increment: ol-counter;
    @apply my-3 relative;
  }

  article.entry ul li {
    @apply my-5;
  }

  article.entry p {
    @apply my-3;
  }

  article.entry .entry-body h2 {
    @apply mt-5;
  }

  article.entry .entry-body h2 + p {
    @apply mt-1;
  }

  article.entry .entry-body p > code {
    @apply text-sm;
  }

  article blockquote {
    @apply pl-4 pr-14 border-l dark:border-slate-600;
  }

  /* main > header a::after,
  article.entry .entry-body a::after {
    content: "°";
    @apply inline text-red-800 dark:text-red-500 relative;
    top: -2px;
    margin-left: 1.5px;
  } */

  article.entry .entry-body a {
    @apply underline decoration-red-800 dark:decoration-red-500 decoration-wavy decoration-1 underline-offset-[5px];
  }

  a:hover {
    @apply bg-red-100 rounded-sm dark:bg-slate-600;
  }

  article figure {
    @apply my-5;
  }

  article figcaption {
    @apply text-center text-sm block mt-1;
  }

  h2 {
    @apply text-lg font-bold;
  }

  .photos-grid__item img,
  .entry img {
    @apply shadow-md rounded w-full;
  }

  .entry-body img:first-child {
    @apply mt-2;
  }
}

.microblog_conversation {
  @apply font-sans text-sm mt-24 flex flex-col gap-y-12;
}

.microblog_conversation .microblog_user {
  @apply flex gap-x-2;
}

.microblog_conversation .microblog_user microblog_fullname {
  @apply block;
}

.microblog_conversation .microblog_user microblog_fullname::after {
  content: ":";
}

div.highlight pre {
  @apply p-2 rounded text-sm dark:border dark:border-slate-600 overflow-x-auto;
}

@font-face {
  font-family: "Charter";
  src: url("/fonts/charter_regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Charter";
  src: url("/fonts/charter_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Charter";
  src: url("/fonts/charter_italic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Charter";
  src: url("/fonts/charter_bold_italic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
