<li>
  <article class="h-entry entry">
    {{ if .Title }}
      <h2 class="text-xl font-bold p-name">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h2>

      <a href="{{ .Permalink }}" class="u-url">
        <time
          class="dt-published"
          datetime="{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}"
          itemprop="datePublished"
        >
          {{ humanize (dateFormat "Monday, 2 Jan" .PublishDate) }}
        </time>
      </a>

      <section class="e-content entry-body">{{ .Content }}</section>
    {{ else }}
      <a href="{{ .Permalink }}" class="u-url">
        <time
          class="dt-published"
          datetime="{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}"
          itemprop="datePublished"
        >
          {{ humanize (dateFormat "Monday, 2 Jan" .PublishDate) }}
        </time>
      </a>

      <section class="e-content entry-body">{{ .Content }}</section>
    {{ end }}
  </article>
</li>
