<article class="h-entry entry">
  {{ if .Title }}
    <header>
      <h1>
        <a class="p-name" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h1>

      <a href="{{ .Permalink }}" class="u-url">
        <time
          class="dt-published"
          datetime="{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}"
          itemprop="datePublished"
        >
          {{ partial "date.html" . }}
        </time>
      </a>
    </header>

    <section class="e-content entry-body">{{ .Content }}</section>
  {{ else }}
    <header>
      <h1>
        <a href="{{ .Permalink }}" class="u-url">
          <time
            class="dt-published"
            datetime="{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}"
            itemprop="datePublished"
          >
          {{ partial "date.html" . }}
          </time>
        </a>
      </h1>
    </header>

    <section class="e-content entry-body">{{ .Content }}</section>
  {{ end }}
</article>
