<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

<!-- Preload our fonts so that they are fetched even before 
the browser has parsed the css that is declaring them. -->
<link rel="preload" href="/fonts/charter_regular-webfont.woff" as="font" type="font/woff2" crossorigin  />
<link rel="preload" href="/fonts/charter_bold-webfont.woff" as="font" type="font/woff2" crossorigin  />
<link rel="preload" href="/fonts/charter_italic-webfont.woff" as="font" type="font/woff2" crossorigin  />

{{ partial "microblog_head.html" . }}

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

